.LandingPage {
  text-align: center;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-bottom: 0;
}

.navbar-left img {
  height: 40px;
  width: 40px;
}

.navbar-right a {
  color: #fff;
  margin-left: 10px;
}

.center {
  margin-top: 0;
  height:100vh
}

.center input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.center .react-datepicker-wrapper {
  display: inline;
}

.footer {
  margin-top: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.footer a {
  color: #fff;
  margin-right: 10px;

}
.ContainerPage
{
  background-image: url("https://media.istockphoto.com/id/173826320/photo/compass.jpg?s=612x612&w=0&k=20&c=1nJccfWXeF_0LuQLnkop6UYAiaATBWpoZ1RT-ZHcH8M=");
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}